.u-section-1 .u-sheet-1 {
  min-height: 185px;
}

.u-section-1 .u-line-1 {
  position: absolute;
  top: 33px;
  left: 0;
  height: 161px;
  transform-origin: center bottom 0px;
}

.u-section-1 .u-line-2 {
  position: absolute;
  top: 28px;
  left: auto;
  height: 166px;
  transform-origin: center top 0px;
  right: -1px;
}

.u-section-1 .u-line-3 {
  transform-origin: left center 0px;
  border-style: solid;
  margin-top: 35px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-family: Alike;
  margin: 25px 162px 0 187px;
}

.u-section-1 .u-line-4 {
  transform-origin: left center 0px;
  border-style: solid;
  margin-top: 22px;
  margin-bottom: 29px;
}

.u-section-1 .u-line-5 {
  position: absolute;
  top: 39px;
  left: auto;
  height: 138px;
  transform-origin: center bottom 0px;
  right: -5px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 62px;
    margin-left: 87px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-line-1 {
  position: absolute;
  top: -44px;
  left: 0;
  height: 1017px;
  transform-origin: center top 0px;
}

.u-section-2 .u-line-2 {
  position: absolute;
  top: -35px;
  left: auto;
  height: 1005px;
  transform-origin: center top 0px;
  right: -4px;
}

.u-section-2 .u-gallery-1 {
  height: 879px;
  width: 870px;
  margin: 0 119px 0 auto;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -81px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-gallery-1 {
    margin-right: 70px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-gallery-1 {
    width: 720px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-gallery-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 210px;
}

.u-section-3 .u-line-1 {
  margin-top: 0;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-3 .u-text-1 {
  margin: 33px 395px 0 442px;
}

.u-section-3 .u-line-2 {
  position: absolute;
  top: 20px;
  left: 0;
  height: 166px;
  transform-origin: center top 0px;
}

.u-section-3 .u-line-3 {
  position: absolute;
  top: 0;
  left: auto;
  height: 186px;
  transform-origin: center top 0px;
  right: -4px;
}

.u-section-3 .u-line-4 {
  transform-origin: left center 0px;
  margin-top: -23px;
  margin-bottom: 23px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-top: 19px;
    margin-left: 342px;
    margin-right: 295px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 232px;
    margin-right: 185px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-line-1 {
    margin-top: 52px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -33px;
    margin-left: 142px;
    margin-right: 95px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-line-1 {
    margin-top: 65px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -46px;
    margin-left: 37px;
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 20px;
}.u-section-5 .u-sheet-1 {
  min-height: 1163px;
}

.u-section-5 .u-list-1 {
  margin: 21px -13px 0 auto;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 965px;
}

.u-section-5 .u-container-layout-1 {
  padding: 3px 0;
}

.u-section-5 .u-group-1 {
  width: 256px;
  min-height: 332px;
  height: auto;
  margin: 26px 5px 0 auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 20px 20px 30px;
}

.u-section-5 .u-text-1 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
  font-size: 1.875rem;
}

.u-section-5 .u-text-2 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.u-section-5 .u-image-1 {
  width: 125px;
  height: 125px;
  margin: -338px auto 0 -9px;
}

.u-section-5 .u-container-layout-3 {
  padding: 3px 0;
}

.u-section-5 .u-group-2 {
  width: 256px;
  min-height: 332px;
  background-size: auto;
  height: auto;
  margin: 26px 5px 0 auto;
}

.u-section-5 .u-container-layout-4 {
  padding: 0 20px 20px 30px;
}

.u-section-5 .u-text-3 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
  font-size: 1.875rem;
}

.u-section-5 .u-text-4 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.u-section-5 .u-image-2 {
  width: 125px;
  height: 125px;
  margin: -338px auto 0 -9px;
}

.u-section-5 .u-container-layout-5 {
  padding: 3px 0;
}

.u-section-5 .u-group-3 {
  width: 256px;
  min-height: 332px;
  background-size: auto;
  height: auto;
  margin: 26px 5px 0 auto;
}

.u-section-5 .u-container-layout-6 {
  padding: 0 20px 20px 30px;
}

.u-section-5 .u-text-5 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
  font-size: 1.875rem;
}

.u-section-5 .u-text-6 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.u-section-5 .u-image-3 {
  width: 125px;
  height: 125px;
  margin: -338px auto 0 -9px;
}

.u-section-5 .u-container-layout-7 {
  padding: 3px 0;
}

.u-section-5 .u-group-4 {
  width: 256px;
  min-height: 332px;
  background-size: auto;
  height: auto;
  margin: 26px 5px 0 auto;
}

.u-section-5 .u-container-layout-8 {
  padding: 0 20px 20px 30px;
}

.u-section-5 .u-text-7 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
  font-size: 1.875rem;
}

.u-section-5 .u-text-8 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.u-section-5 .u-image-4 {
  width: 125px;
  height: 125px;
  margin: -338px auto 0 -9px;
}

.u-section-5 .u-container-layout-9 {
  padding: 3px 0;
}

.u-section-5 .u-group-5 {
  width: 256px;
  min-height: 332px;
  background-size: auto;
  height: auto;
  margin: 26px 5px 0 auto;
}

.u-section-5 .u-container-layout-10 {
  padding: 0 20px 20px 30px;
}

.u-section-5 .u-text-9 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
  font-size: 1.875rem;
}

.u-section-5 .u-text-10 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.u-section-5 .u-image-5 {
  width: 125px;
  height: 125px;
  margin: -338px auto 0 -9px;
}

.u-section-5 .u-container-layout-11 {
  padding: 3px 0;
}

.u-section-5 .u-group-6 {
  width: 256px;
  min-height: 332px;
  background-size: auto;
  height: auto;
  margin: 26px 5px 0 auto;
}

.u-section-5 .u-container-layout-12 {
  padding: 0 20px 20px 30px;
}

.u-section-5 .u-text-11 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
  font-size: 1.875rem;
}

.u-section-5 .u-text-12 {
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.u-section-5 .u-image-6 {
  width: 125px;
  height: 125px;
  margin: -338px auto 0 -9px;
}

.u-section-5 .u-line-1 {
  position: absolute;
  top: -43px;
  left: 0;
  height: 1136px;
  transform-origin: center top 0px;
}

.u-section-5 .u-line-2 {
  position: absolute;
  top: -64px;
  left: auto;
  height: 1156px;
  transform-origin: center top 0px;
  right: -1px;
}

.u-section-5 .u-line-3 {
  margin-top: 107px;
  margin-bottom: 58px;
  transform-origin: left center 0px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 488px;
  }

  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
  }

  .u-section-5 .u-group-2 {
    height: auto;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 20px;
  }

  .u-section-5 .u-group-3 {
    height: auto;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 20px;
  }

  .u-section-5 .u-group-4 {
    height: auto;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 20px;
  }

  .u-section-5 .u-group-5 {
    height: auto;
  }

  .u-section-5 .u-container-layout-10 {
    padding-left: 20px;
  }

  .u-section-5 .u-group-6 {
    height: auto;
  }

  .u-section-5 .u-container-layout-12 {
    padding-left: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    margin-top: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-list-1 {
    margin-top: 201px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-6 {
  background-image: url("images/Glorious_image.png");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 700px;
}

.u-section-6 .u-group-1 {
  width: 639px;
  min-height: 342px;
  height: auto;
  background-image: none;
  margin: 159px auto 60px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-image-1 {
  width: 697px;
  height: 361px;
  margin: -19px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-6 .u-group-1 {
    height: auto;
  }

  .u-section-6 .u-image-1 {
    width: 639px;
    height: 331px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 442px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-6 .u-group-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 280px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 209px;
  }

  .u-section-6 .u-group-1 {
    width: 340px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 176px;
  }
}