 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 786px;
}

.u-section-1 .u-line-1 {
  position: absolute;
  top: -12px;
  left: 0;
  height: 803px;
  transform-origin: center top 0px;
}

.u-section-1 .u-line-2 {
  position: absolute;
  top: -12px;
  left: auto;
  height: 813px;
  transform-origin: center top 0px;
  right: -3px;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 3616px;
}

.u-section-2 .u-line-1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 3626px;
  transform-origin: center top 0px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: -396px 489px 0 446px;
}

.u-section-2 .u-image-1 {
  width: 1071px;
  height: 576px;
  margin: 432px auto 0 20px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 52px 50px 0 11px;
}

.u-section-2 .u-text-3 {
  font-size: 2.25rem;
  margin: 0 819px 0 11px;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  margin: -7px 859px 0 11px;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  margin: -10px 871px 0 11px;
}

.u-section-2 .u-line-2 {
  width: 1027px;
  transform-origin: right center 0px;
  margin: 14px auto 0 0;
}

.u-section-2 .u-image-2 {
  width: 90px;
  height: 78px;
  margin: 0 auto 0 11px;
}

.u-section-2 .u-image-3 {
  width: 78px;
  height: 74px;
  margin: -76px auto 0 107px;
}

.u-section-2 .u-text-6 {
  font-size: 1.875rem;
  margin: -1px 935px 0 14px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-4 {
  width: 66px;
  height: 74px;
  margin: -61px 132px 0 auto;
}

.u-section-2 .u-line-3 {
  width: 1027px;
  transform-origin: right center 0px;
  margin: -5px auto 0 0;
}

.u-section-2 .u-image-5 {
  width: 51px;
  height: 49px;
  margin: -59px 264px 0 auto;
}

.u-section-2 .u-image-6 {
  width: 47px;
  height: 47px;
  margin: -47px 206px 0 auto;
}

.u-section-2 .u-text-7 {
  margin: 44px 0 60px 11px;
}

.u-section-2 .u-line-4 {
  position: absolute;
  top: -5px;
  left: auto;
  height: 3626px;
  transform-origin: center top 0px;
  right: -3px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3546px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 389px;
    margin-left: 346px;
  }

  .u-section-2 .u-image-1 {
    width: 940px;
    height: 506px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 630px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 670px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 682px;
    margin-left: 0;
  }

  .u-section-2 .u-line-2 {
    width: 940px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 749px;
    margin-left: 0;
  }

  .u-section-2 .u-line-3 {
    width: 940px;
    margin-top: -6px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3428px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 279px;
    margin-left: 236px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 388px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 410px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 450px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 462px;
  }

  .u-section-2 .u-line-2 {
    width: 720px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 529px;
  }

  .u-section-2 .u-line-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3331px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 189px;
    margin-left: 146px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 291px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 230px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 270px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 282px;
  }

  .u-section-2 .u-line-2 {
    width: 540px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 349px;
  }

  .u-section-2 .u-line-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3223px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 89px;
    margin-left: 46px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 183px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 30px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 70px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 82px;
  }

  .u-section-2 .u-line-2 {
    width: 340px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 149px;
  }

  .u-section-2 .u-line-3 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 226px;
}

.u-section-3 .u-line-1 {
  margin-top: 0;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-3 .u-text-1 {
  font-family: "Abyssinica SIL";
  font-size: 3.75rem;
  margin: 64px 384px 0 415px;
}

.u-section-3 .u-line-2 {
  transform-origin: left center 0px;
  margin-top: 64px;
  margin-bottom: 20px;
}

.u-section-3 .u-line-3 {
  position: absolute;
  top: 6px;
  left: 0;
  height: 200px;
  transform-origin: center top 0px;
}

.u-section-3 .u-line-4 {
  position: absolute;
  top: 0;
  left: auto;
  height: 208px;
  transform-origin: center top 0px;
  right: -3px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 284px;
    margin-left: 315px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 174px;
    margin-left: 205px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 84px;
    margin-left: 115px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 0;
    margin-left: 0;
  }
} .u-section-4 {
  background-image: none;
  min-height: 5037px;
}

.u-section-4 .u-text-1 {
  font-family: "Abyssinica SIL";
  font-size: 3rem;
  margin: 25px calc(((100% - 1140px) / 2) + 292px) 0 calc(((100% - 1140px) / 2));
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 25px calc(((100% - 1140px) / 2) + 102px) 0 calc(((100% - 1140px) / 2) + 18px);
}

.u-section-4 .u-text-3 {
  font-family: "Abyssinica SIL";
  font-size: 3rem;
  margin: 50px calc(((100% - 1140px) / 2) + 181px) 0 calc(((100% - 1140px) / 2) + 18px);
}

.u-section-4 .u-text-4 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 41px calc(((100% - 1140px) / 2) + 103px) 0 calc(((100% - 1140px) / 2) + 18px);
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-5 {
  font-family: "Abyssinica SIL";
  font-size: 3rem;
  margin: 25px calc(((100% - 1140px) / 2) + 56px) 0 calc(((100% - 1140px) / 2) + 18px);
}

.u-section-4 .u-text-6 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 44px calc(((100% - 1140px) / 2) + 103px) 0 calc(((100% - 1140px) / 2) + 18px);
}

.u-section-4 .u-text-7 {
  font-family: "Abyssinica SIL";
  font-size: 3rem;
  margin: 44px calc(((100% - 1140px) / 2) + 67px) 0 calc(((100% - 1140px) / 2) + 18px);
}

.u-section-4 .u-text-8 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 41px calc(((100% - 1140px) / 2) + 102px) 0 calc(((100% - 1140px) / 2) + 18px);
}

.u-section-4 .u-text-9 {
  font-family: "Abyssinica SIL";
  font-size: 3rem;
  margin: 33px calc(((100% - 1140px) / 2) + 496px) 0 calc(((100% - 1140px) / 2) + 16px);
}

.u-section-4 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 11px);
  height: 61px;
  margin: -51px auto 0 0;
}

.u-section-4 .u-text-10 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 34px calc(((100% - 1140px) / 2) + 104px) 0 calc(((100% - 1140px) / 2) + 16px);
}

.u-section-4 .u-text-11 {
  font-family: "Abyssinica SIL";
  font-size: 3rem;
  margin: 61px calc(((100% - 1140px) / 2) + 87px) 0 calc(((100% - 1140px) / 2) + 14px);
}

.u-section-4 .u-text-12 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 61px calc(((100% - 1140px) / 2) + 104px) 0 calc(((100% - 1140px) / 2) + 16px);
}

.u-section-4 .u-text-13 {
  font-family: "Abyssinica SIL";
  font-size: 3rem;
  margin: 50px calc(((100% - 1140px) / 2) + 120px) 0 calc(((100% - 1140px) / 2) + 14px);
}

.u-section-4 .u-text-14 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 50px calc(((100% - 1140px) / 2) + 104px) 0 calc(((100% - 1140px) / 2) + 16px);
}

.u-section-4 .u-text-15 {
  font-family: "Abyssinica SIL";
  font-size: 3rem;
  margin: 64px calc(((100% - 1140px) / 2) + 111px) 0 calc(((100% - 1140px) / 2) + 14px);
}

.u-section-4 .u-text-16 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 50px calc(((100% - 1140px) / 2) + 104px) 0 calc(((100% - 1140px) / 2) + 16px);
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-17 {
  font-family: "Abyssinica SIL";
  font-size: 3rem;
  margin: 59px calc(((100% - 1140px) / 2) + 60px) 0 calc(((100% - 1140px) / 2) + 14px);
}

.u-section-4 .u-text-18 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 56px calc(((100% - 1140px) / 2) + 102px) 0 calc(((100% - 1140px) / 2) + 18px);
}

.u-section-4 .u-text-19 {
  font-family: "Abyssinica SIL";
  font-size: 3rem;
  margin: 37px calc(((100% - 1140px) / 2) + 236px) 0 calc(((100% - 1140px) / 2) + 18px);
}

.u-section-4 .u-text-20 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 50px calc(((100% - 1140px) / 2) + 104px) 0 calc(((100% - 1140px) / 2) + 16px);
}

.u-section-4 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-line-1 {
  position: absolute;
  top: -24px;
  left: 77px;
  height: 5065px;
  transform-origin: center top 0px;
}

.u-section-4 .u-line-2 {
  position: absolute;
  top: -24px;
  left: auto;
  height: 5060px;
  transform-origin: center top 0px;
  right: 76px;
}

.u-section-4 .u-line-3 {
  width: 1140px;
  transform-origin: left center 0px;
  margin: 31px auto 59px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 92px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-text-5 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-text-6 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-text-7 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-text-8 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-text-9 {
    margin-right: calc(((100% - 940px) / 2) + 312px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 11px);
  }

  .u-section-4 .u-text-10 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-text-11 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-text-12 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-text-13 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-text-14 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-text-15 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-text-16 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-text-17 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-text-18 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-text-19 {
    margin-right: calc(((100% - 940px) / 2) + 54px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-text-20 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-line-1 {
    margin-top: 0;
  }

  .u-section-4 .u-line-2 {
    margin-top: 0;
  }

  .u-section-4 .u-line-3 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-6 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-7 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-8 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-9 {
    margin-right: calc(((100% - 720px) / 2) + 92px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 11px);
  }

  .u-section-4 .u-text-10 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-11 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-12 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-13 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-14 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-15 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-16 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-17 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-18 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-19 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-text-20 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-line-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-5 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-6 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-7 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-8 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-9 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 11px);
  }

  .u-section-4 .u-text-10 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-11 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-12 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-13 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-14 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-15 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-16 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-17 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-18 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-19 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-20 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-line-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-4 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-5 {
    font-size: 1.5rem;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-6 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-7 {
    font-size: 1.5rem;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-8 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-9 {
    font-size: 1.5rem;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 11px);
  }

  .u-section-4 .u-text-10 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-11 {
    font-size: 1.5rem;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-12 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-13 {
    font-size: 1.5rem;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-14 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-15 {
    font-size: 1.5rem;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-16 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-17 {
    font-size: 1.5rem;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-18 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-19 {
    font-size: 1.5rem;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-20 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-line-3 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 43px;
} .u-section-6 {
  background-image: url("images/Paris_City.png");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 700px;
}

.u-section-6 .u-image-1 {
  width: 803px;
  height: 416px;
  margin: 115px 145px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-6 .u-image-1 {
    margin-right: 137px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 399px;
  }

  .u-section-6 .u-image-1 {
    width: 720px;
    height: 373px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 306px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 280px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 202px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 176px;
  }
}