/*
body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color:  #f2f2f2;
  height: 800px;
  width: 900px;
  margin: auto;
  border: 3px solid black;
  padding: 1em;
}

h1 {
  color: black;
  margin: 0;
  padding: 0 0 1em 0;
  text-align: center;

}

 a:link {
      text-decoration: none;
       color: black;
}

h2 {
  color: black;
  font-size: 140%;
  margin-top: 0.5em;
  text-align: center;
}

p {
  margin: 0;
  padding: 0.5em;
  text-align: center;
}

/* Style for the thumbnail images 
.thumbnail {
    height: 120px;
    width: 90px;
    float: left;
    margin-right: 10px;
    cursor: pointer;
}
*/
/* Style for the larger image 
#largeImg {
    display: none;
    width: 500px;
    height: 500px;
    margin-top: 20px;

}
*/


body {
 margin: 20px auto;
 font-family: 'Verdana';
 font-weight: 300;
 background-color: #f2f2f2;
 height: 800px;
 width: 900px;
 border: 3px solid black;
 padding: 1em;
 overflow: hidden;
}

h1 {
color: black;
margin: 0;
padding: 0 0 1em 0; text-align: center;
}
a:link {
text-decoration: none;
color: black;
}
h2 {
color: black;
font-size: 140%;
margin-top: 0.5em; text-align: center;
}
p {
margin: 0; padding: 0.5em; text-align: center;
}
/* Style for the thumbnail images */
.thumbnail {
height: 120px;
width: 90px; float: left;
margin-right: 10px;
cursor: pointer;
}
/* Style for the larger image */
#largeImg {
display: none;
width: 500px;
height: 500px;
margin-top: 20px;
}
