 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 786px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-1 .u-line-1 {
  position: absolute;
  top: -8px;
  left: 0;
  height: 791px;
  transform-origin: center top 0px;
}

.u-section-1 .u-line-2 {
  position: absolute;
  top: -8px;
  left: auto;
  height: 795px;
  transform-origin: center top 0px;
  right: -3px;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1157px;
}

.u-section-2 .u-line-1 {
  width: 1065px;
  transform-origin: right center 0px;
  top: 1061px;
  position: absolute;
  left: 12px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 40px 471px 0 464px;
}

.u-section-2 .u-image-1 {
  width: 1076px;
  height: 585px;
  margin: 14px auto 0 14px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 25px 48px 0 12px;
}

.u-section-2 .u-text-3 {
  font-size: 2.25rem;
  margin: 0 817px 0 12px;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: -5px 817px 0 150px;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  margin: -52px 1009px 0 12px;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  margin: -1px 869px 0 12px;
}

.u-section-2 .u-line-2 {
  width: 1051px;
  transform-origin: left center 0px;
  margin: -7px auto 0 14px;
}

.u-section-2 .u-image-2 {
  width: 81px;
  height: 76px;
  margin: 6px auto 0 80px;
}

.u-section-2 .u-image-3 {
  width: 54px;
  height: 64px;
  margin: -69px auto 0 12px;
}

.u-section-2 .u-text-7 {
  font-size: 1.875rem;
  margin: 15px 935px 0 13px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-4 {
  width: 60px;
  height: 78px;
  margin: -75px 64px 0 auto;
}

.u-section-2 .u-image-5 {
  width: 51px;
  height: 49px;
  margin: -64px 194px 0 auto;
}

.u-section-2 .u-image-6 {
  width: 47px;
  height: 47px;
  margin: -47px 134px 60px auto;
}

.u-section-2 .u-line-3 {
  position: absolute;
  top: -18px;
  left: 0;
  height: 1179px;
  transform-origin: center top 0px;
}

.u-section-2 .u-line-4 {
  position: absolute;
  top: -11px;
  left: auto;
  height: 1179px;
  transform-origin: center top 0px;
  right: -3px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1083px;
  }

  .u-section-2 .u-line-1 {
    width: 940px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 371px;
    margin-left: 364px;
  }

  .u-section-2 .u-image-1 {
    width: 940px;
    height: 511px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 629px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 629px;
    margin-left: 138px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 821px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 681px;
    margin-left: 0;
  }

  .u-section-2 .u-line-2 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 748px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 963px;
  }

  .u-section-2 .u-line-1 {
    width: 720px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 261px;
    margin-left: 254px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 391px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 409px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 409px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 601px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 461px;
  }

  .u-section-2 .u-line-2 {
    width: 720px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 528px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 865px;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 171px;
    margin-left: 164px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 293px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 229px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 229px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 421px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 281px;
  }

  .u-section-2 .u-line-2 {
    width: 540px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 348px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 71px;
    margin-left: 64px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 184px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 29px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 29px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 221px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 81px;
  }

  .u-section-2 .u-line-2 {
    width: 340px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 148px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1429px;
}

.u-section-3 .u-text-1 {
  margin: 10px -12px 3px 12px;
}

.u-section-3 .u-line-1 {
  position: absolute;
  top: -16px;
  left: 0;
  height: 1449px;
  transform-origin: center top 0px;
}

.u-section-3 .u-line-2 {
  position: absolute;
  top: -24px;
  left: auto;
  height: 1459px;
  transform-origin: center top 0px;
  right: -3px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 226px;
}

.u-section-4 .u-line-1 {
  margin-top: 0;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-4 .u-text-1 {
  font-family: "Abyssinica SIL";
  font-size: 3.75rem;
  margin: 64px 384px 0 415px;
}

.u-section-4 .u-line-2 {
  transform-origin: left center 0px;
  margin-top: 64px;
  margin-bottom: 20px;
}

.u-section-4 .u-line-3 {
  position: absolute;
  top: 0;
  left: 0;
  height: 203px;
  transform-origin: center top 0px;
}

.u-section-4 .u-line-4 {
  position: absolute;
  top: 0;
  left: auto;
  height: 203px;
  transform-origin: center top 0px;
  right: -3px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 284px;
    margin-left: 315px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 174px;
    margin-left: 205px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-right: 84px;
    margin-left: 115px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 0;
    margin-left: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 5186px;
}

.u-section-5 .u-group-elements-1 {
  width: 1140px;
  min-height: 60px;
  margin: 33px -11px 0 auto;
}

.u-section-5 .u-text-1 {
  font-family: "Abyssinica SIL";
  font-size: 3rem;
  margin: 0 0 0 74px;
}

.u-section-5 .u-shape-1 {
  width: 61px;
  height: 61px;
  margin: -104px auto 43px 0;
}

.u-section-5 .u-text-2 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 50px 33px 0 87px;
}

.u-section-5 .u-group-elements-2 {
  width: 1000px;
  min-height: 104px;
  height: auto;
  margin: 73px 122px 0 auto;
}

.u-section-5 .u-text-3 {
  font-family: "Abyssinica SIL";
  font-size: 3rem;
  margin: 0 0 0 74px;
}

.u-section-5 .u-shape-2 {
  width: 61px;
  height: 61px;
  margin: -104px auto 43px 0;
}

.u-section-5 .u-text-4 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 50px 26px 0 95px;
}

.u-section-5 .u-group-elements-3 {
  width: 691px;
  min-height: 61px;
  height: auto;
  margin: 62px 431px 0 auto;
}

.u-section-5 .u-text-5 {
  font-family: "Abyssinica SIL";
  font-size: 3rem;
  margin: 0 0 0 74px;
}

.u-section-5 .u-shape-3 {
  width: 61px;
  height: 61px;
  margin: -52px auto 0 0;
}

.u-section-5 .u-text-6 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 93px 26px 0 95px;
}

.u-section-5 .u-group-elements-4 {
  width: 1140px;
  min-height: 61px;
  height: auto;
  margin: 62px -11px 0 auto;
}

.u-section-5 .u-text-7 {
  font-family: "Abyssinica SIL";
  font-size: 3rem;
  margin: 0 0 0 74px;
}

.u-section-5 .u-shape-4 {
  width: 61px;
  height: 61px;
  margin: -52px auto 0 0;
}

.u-section-5 .u-text-8 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 50px 33px 0 87px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-group-elements-5 {
  min-height: 61px;
  height: auto;
  margin-top: 62px;
  margin-bottom: 0;
  width: 1140px;
}

.u-section-5 .u-text-9 {
  font-family: "Abyssinica SIL";
  font-size: 3rem;
  margin: 0 0 0 74px;
}

.u-section-5 .u-shape-5 {
  width: 61px;
  height: 61px;
  margin: -52px auto 0 0;
}

.u-section-5 .u-text-10 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 50px 33px 0 87px;
}

.u-section-5 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-group-elements-6 {
  width: 1140px;
  min-height: 61px;
  height: auto;
  margin: 73px -18px 0 auto;
}

.u-section-5 .u-text-11 {
  font-family: "Abyssinica SIL";
  font-size: 3rem;
  margin: 0 0 0 74px;
}

.u-section-5 .u-shape-6 {
  width: 61px;
  height: 61px;
  margin: -52px auto 43px 0;
}

.u-section-5 .u-text-12 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: -10px 26px 0 94px;
}

.u-section-5 .u-group-elements-7 {
  width: 1140px;
  min-height: 61px;
  height: auto;
  margin: 87px -11px 0 auto;
}

.u-section-5 .u-text-13 {
  font-family: "Abyssinica SIL";
  font-size: 3rem;
  margin: 0 0 0 74px;
}

.u-section-5 .u-shape-7 {
  width: 61px;
  height: 61px;
  margin: -52px auto 43px 0;
}

.u-section-5 .u-text-14 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: -12px 26px 0 94px;
}

.u-section-5 .u-group-elements-8 {
  width: 1103px;
  min-height: 61px;
  margin: 62px 26px 0 auto;
}

.u-section-5 .u-text-15 {
  font-family: "Abyssinica SIL";
  font-size: 3rem;
  margin: 0 0 0 74px;
}

.u-section-5 .u-shape-8 {
  width: 61px;
  height: 61px;
  margin: -52px auto 0 0;
}

.u-section-5 .u-text-16 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 50px 33px 0 87px;
}

.u-section-5 .u-shape-9 {
  width: 61px;
  height: 61px;
  margin: 11px auto 0 18px;
}

.u-section-5 .u-text-17 {
  font-family: "Abyssinica SIL";
  font-size: 3rem;
  margin: -55px -18px 0 110px;
}

.u-section-5 .u-text-18 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 18px 26px 0 94px;
}

.u-section-5 .u-line-1 {
  position: absolute;
  top: -24px;
  left: 0;
  height: 5218px;
  transform-origin: center top 0px;
}

.u-section-5 .u-line-2 {
  position: absolute;
  top: -24px;
  left: auto;
  height: 5214px;
  transform-origin: center top 0px;
  right: -3px;
}

.u-section-5 .u-line-3 {
  margin-top: 87px;
  margin-bottom: 37px;
  transform-origin: left center 0px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-elements-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-group-elements-2 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-group-elements-3 {
    margin-right: 249px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-group-elements-4 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-5 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-group-elements-5 {
    width: auto;
  }

  .u-section-5 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-group-elements-6 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-5 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-group-elements-7 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-5 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-group-elements-8 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-5 .u-text-16 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-elements-1 {
    width: 720px;
  }

  .u-section-5 .u-group-elements-2 {
    width: 720px;
  }

  .u-section-5 .u-group-elements-3 {
    margin-right: 29px;
  }

  .u-section-5 .u-group-elements-4 {
    width: 720px;
  }

  .u-section-5 .u-group-elements-6 {
    width: 720px;
  }

  .u-section-5 .u-group-elements-7 {
    width: 720px;
  }

  .u-section-5 .u-group-elements-8 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-elements-1 {
    width: 540px;
  }

  .u-section-5 .u-group-elements-2 {
    width: 540px;
  }

  .u-section-5 .u-group-elements-3 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-5 .u-group-elements-4 {
    width: 540px;
  }

  .u-section-5 .u-group-elements-6 {
    width: 540px;
  }

  .u-section-5 .u-group-elements-7 {
    width: 540px;
  }

  .u-section-5 .u-group-elements-8 {
    width: 540px;
  }

  .u-section-5 .u-shape-9 {
    margin-top: 63px;
  }

  .u-section-5 .u-text-17 {
    margin-top: -107px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-elements-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-group-elements-2 {
    width: 340px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-group-elements-3 {
    width: 340px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-group-elements-4 {
    width: 340px;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-9 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-group-elements-6 {
    width: 340px;
  }

  .u-section-5 .u-text-11 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-group-elements-7 {
    width: 340px;
  }

  .u-section-5 .u-text-13 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-group-elements-8 {
    width: 340px;
  }

  .u-section-5 .u-text-15 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-shape-9 {
    margin-top: -15px;
  }

  .u-section-5 .u-text-17 {
    font-size: 1.5rem;
    margin-top: -29px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 65px;
} .u-section-7 {
  background-image: url("images/Dubai1.png");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 700px;
}

.u-section-7 .u-image-1 {
  width: 845px;
  height: 438px;
  margin: 119px 132px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-7 .u-image-1 {
    margin-right: 95px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 429px;
  }

  .u-section-7 .u-image-1 {
    width: 720px;
    height: 425px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 319px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 205px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 201px;
  }
}