.u-section-1 .u-video-1 {
  min-height: 760px;
}

.u-section-1 .u-line-1 {
  position: absolute;
  top: -20px;
  left: auto;
  height: 761px;
  transform-origin: center top 0px;
  right: -3px;
}

.u-section-1 .u-line-2 {
  position: absolute;
  top: -20px;
  left: auto;
  height: 761px;
  transform-origin: center top 0px;
  right: -3px;
}

.u-section-1 .u-line-3 {
  position: absolute;
  top: 8px;
  left: -26px;
  height: 761px;
  transform-origin: center top 0px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}.u-section-2 .u-sheet-1 {
  min-height: 194px;
}

.u-section-2 .u-line-1 {
  position: absolute;
  top: -3px;
  left: 0;
  height: 198px;
  transform-origin: center bottom 0px;
}

.u-section-2 .u-line-2 {
  position: absolute;
  top: 28px;
  left: auto;
  height: 166px;
  transform-origin: center top 0px;
  right: -1px;
}

.u-section-2 .u-line-3 {
  transform-origin: left center 0px;
  border-style: solid;
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-family: Alike;
  margin: 35px 355px 0 385px;
}

.u-section-2 .u-line-4 {
  transform-origin: left center 0px;
  border-style: solid;
  margin-top: 12px;
  margin-bottom: 6px;
}

.u-section-2 .u-line-5 {
  position: absolute;
  top: 26px;
  left: 0;
  height: 155px;
  transform-origin: center top 0px;
}

.u-section-2 .u-line-6 {
  position: absolute;
  top: -3px;
  left: auto;
  height: 190px;
  transform-origin: center top 0px;
  right: -3px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 255px;
    margin-left: 285px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 145px;
    margin-left: 175px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 55px;
    margin-left: 85px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-line-3 {
    margin-top: -28px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 86px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1478px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 10px 929px 0 0;
}

.u-section-3 .u-line-1 {
  transform-origin: left center 0px;
  border-style: solid;
  width: 332px;
  margin: 110px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  margin: -80px 939px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  margin: -12px 879px 0 0;
}

.u-section-3 .u-image-1 {
  width: 645px;
  height: 542px;
  margin: -76px 0 0 auto;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  margin: -466px 879px 0 0;
}

.u-section-3 .u-image-2 {
  width: 58px;
  height: 76px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-3 {
  width: 87px;
  height: 76px;
  margin: -76px auto 0 62px;
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  margin: 9px 978px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-image-4 {
  width: 75px;
  height: 69px;
  margin: -9px auto 0 115px;
}

.u-section-3 .u-image-5 {
  width: 61px;
  height: 49px;
  margin: -59px auto 0 61px;
}

.u-section-3 .u-image-6 {
  width: 61px;
  height: 53px;
  margin: -51px auto 0 0;
}

.u-section-3 .u-line-2 {
  transform-origin: left center 0px;
  border-style: solid;
  width: 290px;
  margin: 16px auto 0 0;
}

.u-section-3 .u-text-6 {
  margin: 266px 0 0;
}

.u-section-3 .u-line-3 {
  transform-origin: left center 0px;
  border-style: solid;
  margin-top: 36px;
  margin-bottom: 26px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 729px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 739px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 679px;
  }

  .u-section-3 .u-image-1 {
    height: 543px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -467px;
    margin-right: 679px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 778px;
  }

  .u-section-3 .u-line-3 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 509px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 519px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 459px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 459px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 558px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1390px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 329px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 339px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 279px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 455px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -379px;
    margin-right: 279px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 378px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1222px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 129px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 139px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 79px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 286px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -210px;
    margin-right: 79px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 178px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1478px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 10px 1036px 0 0;
}

.u-section-4 .u-line-1 {
  transform-origin: left center 0px;
  border-style: solid;
  width: 332px;
  margin: 110px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  margin: -80px 939px 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.875rem;
  margin: -12px 879px 0 0;
}

.u-section-4 .u-image-1 {
  width: 656px;
  height: 540px;
  margin: -74px 0 0 auto;
}

.u-section-4 .u-text-4 {
  font-size: 1.5rem;
  margin: -466px 879px 0 0;
}

.u-section-4 .u-image-2 {
  width: 58px;
  height: 76px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-3 {
  width: 77px;
  height: 76px;
  margin: -76px auto 0 62px;
}

.u-section-4 .u-text-5 {
  font-size: 1.5rem;
  margin: 9px 978px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-image-4 {
  width: 75px;
  height: 69px;
  margin: -9px auto 0 115px;
}

.u-section-4 .u-image-5 {
  width: 61px;
  height: 49px;
  margin: -59px auto 0 61px;
}

.u-section-4 .u-image-6 {
  width: 61px;
  height: 53px;
  margin: -51px auto 0 0;
}

.u-section-4 .u-line-2 {
  transform-origin: left center 0px;
  border-style: solid;
  width: 290px;
  margin: 16px auto 0 0;
}

.u-section-4 .u-text-6 {
  margin: 266px 0 0;
}

.u-section-4 .u-line-3 {
  transform-origin: left center 0px;
  border-style: solid;
  margin-top: 36px;
  margin-bottom: 26px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 836px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 739px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 679px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 679px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 778px;
  }

  .u-section-4 .u-line-3 {
    margin-bottom: 48px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 616px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 519px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 459px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 459px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 558px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1383px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 436px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 339px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 279px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 445px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -371px;
    margin-right: 279px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 378px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1218px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 236px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 139px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 79px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 280px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -206px;
    margin-right: 79px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 178px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1926px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  margin: 10px 1001px 0 0;
}

.u-section-5 .u-line-1 {
  transform-origin: left center 0px;
  border-style: solid;
  width: 305px;
  margin: 110px auto 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.875rem;
  margin: -80px 939px 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.875rem;
  margin: -12px 879px 0 0;
}

.u-section-5 .u-image-1 {
  width: 642px;
  height: 540px;
  margin: -74px 0 0 auto;
}

.u-section-5 .u-text-4 {
  font-size: 1.5rem;
  margin: -466px 879px 0 0;
}

.u-section-5 .u-image-2 {
  width: 58px;
  height: 76px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-image-3 {
  width: 77px;
  height: 76px;
  margin: -76px auto 0 62px;
}

.u-section-5 .u-text-5 {
  font-size: 1.5rem;
  margin: 9px 978px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-image-4 {
  width: 75px;
  height: 69px;
  margin: -9px auto 0 115px;
}

.u-section-5 .u-image-5 {
  width: 61px;
  height: 49px;
  margin: -59px auto 0 61px;
}

.u-section-5 .u-image-6 {
  width: 61px;
  height: 53px;
  margin: -51px auto 0 0;
}

.u-section-5 .u-line-2 {
  transform-origin: left center 0px;
  border-style: solid;
  width: 290px;
  margin: 16px auto 0 0;
}

.u-section-5 .u-text-6 {
  margin: 266px 0 0;
}

.u-section-5 .u-line-3 {
  transform-origin: left center 0px;
  border-style: solid;
  margin-top: 36px;
  margin-bottom: 26px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 801px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 739px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 679px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 679px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 778px;
  }

  .u-section-5 .u-line-3 {
    margin-bottom: 48px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 581px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 519px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 459px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 459px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 558px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1840px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 401px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 339px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 279px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 454px;
  }

  .u-section-5 .u-text-4 {
    margin-top: -380px;
    margin-right: 279px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 378px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1672px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 201px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 139px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 79px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 286px;
  }

  .u-section-5 .u-text-4 {
    margin-top: -212px;
    margin-right: 79px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 178px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1496px;
}

.u-section-6 .u-text-1 {
  font-size: 1.875rem;
  margin: 4px 969px 0 0;
}

.u-section-6 .u-line-1 {
  transform-origin: left center 0px;
  border-style: solid;
  width: 263px;
  margin: 116px auto 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.875rem;
  margin: -80px 939px 0 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.875rem;
  margin: -12px 879px 0 0;
}

.u-section-6 .u-image-1 {
  width: 608px;
  height: 523px;
  margin: -74px 0 0 auto;
}

.u-section-6 .u-text-4 {
  font-size: 1.5rem;
  margin: -449px 879px 0 0;
}

.u-section-6 .u-image-2 {
  width: 76px;
  height: 76px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-image-3 {
  width: 92px;
  height: 87px;
  margin: -81px auto 0 84px;
}

.u-section-6 .u-text-5 {
  font-size: 1.5rem;
  margin: 4px 978px 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-image-4 {
  width: 75px;
  height: 69px;
  margin: -9px auto 0 115px;
}

.u-section-6 .u-image-5 {
  width: 61px;
  height: 49px;
  margin: -59px auto 0 61px;
}

.u-section-6 .u-image-6 {
  width: 61px;
  height: 53px;
  margin: -51px auto 0 0;
}

.u-section-6 .u-line-2 {
  transform-origin: left center 0px;
  border-style: solid;
  width: 290px;
  margin: 16px auto 0 0;
}

.u-section-6 .u-text-6 {
  margin: 266px 0 0;
}

.u-section-6 .u-line-3 {
  transform-origin: left center 0px;
  border-style: solid;
  margin-top: 36px;
  margin-bottom: 18px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 769px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 739px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 679px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 679px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 778px;
  }

  .u-section-6 .u-line-3 {
    margin-bottom: 48px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-right: 549px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 519px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 459px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 459px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 558px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1438px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 369px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 339px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 279px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 465px;
  }

  .u-section-6 .u-text-4 {
    margin-top: -391px;
    margin-right: 279px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 378px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1266px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 169px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 139px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 79px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 293px;
  }

  .u-section-6 .u-text-4 {
    margin-top: -219px;
    margin-right: 79px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 178px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 1528px;
}

.u-section-7 .u-text-1 {
  font-size: 1.875rem;
  margin: 4px 950px 0 0;
}

.u-section-7 .u-line-1 {
  transform-origin: left center 0px;
  border-style: solid;
  width: 332px;
  margin: 78px auto 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.875rem;
  margin: -80px 939px 0 0;
}

.u-section-7 .u-text-3 {
  font-size: 1.875rem;
  margin: -12px 879px 0 0;
}

.u-section-7 .u-image-1 {
  width: 635px;
  height: 523px;
  margin: -36px 0 0 auto;
}

.u-section-7 .u-text-4 {
  font-size: 1.5rem;
  margin: -487px 879px 0 0;
}

.u-section-7 .u-image-2 {
  width: 102px;
  height: 87px;
  margin: -5px auto 0 84px;
}

.u-section-7 .u-image-3 {
  width: 87px;
  height: 76px;
  margin: -82px auto 0 0;
}

.u-section-7 .u-text-5 {
  font-size: 1.5rem;
  margin: 10px 978px 0 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-image-4 {
  width: 75px;
  height: 69px;
  margin: -9px auto 0 115px;
}

.u-section-7 .u-image-5 {
  width: 61px;
  height: 49px;
  margin: -59px auto 0 61px;
}

.u-section-7 .u-image-6 {
  width: 61px;
  height: 53px;
  margin: -51px auto 0 0;
}

.u-section-7 .u-line-2 {
  transform-origin: left center 0px;
  border-style: solid;
  width: 290px;
  margin: 16px auto 0 0;
}

.u-section-7 .u-text-6 {
  margin: 304px 0 0;
}

.u-section-7 .u-line-3 {
  transform-origin: left center 0px;
  border-style: solid;
  margin-top: 36px;
  margin-bottom: 18px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-right: 750px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 739px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 679px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 679px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 778px;
  }

  .u-section-7 .u-line-3 {
    margin-bottom: 48px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-right: 530px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 519px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 459px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 459px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 558px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1450px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 350px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 339px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 279px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 445px;
  }

  .u-section-7 .u-text-4 {
    margin-top: -409px;
    margin-right: 279px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 378px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1285px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 150px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 139px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 79px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 280px;
  }

  .u-section-7 .u-text-4 {
    margin-top: -244px;
    margin-right: 79px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 178px;
  }
} .u-section-8 {
  background-image: url("images/Glorious_image.png");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 700px;
}

.u-section-8 .u-group-1 {
  width: 639px;
  min-height: 342px;
  height: auto;
  background-image: none;
  margin: 159px auto 60px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0;
}

.u-section-8 .u-image-1 {
  width: 637px;
  height: 361px;
  margin: -19px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-8 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 442px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-8 .u-group-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-8 .u-image-1 {
    width: 540px;
    height: 306px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 209px;
  }

  .u-section-8 .u-group-1 {
    width: 340px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 193px;
  }
}