    .bxslider img {
      max-width: 100%;
      height: auto;
      display: block;
    }

section {
 width: 100%; 
}

.column {
 float: left; 
 width: 33.33%; 
}

.column p {
 margin: 0 0 10px 0; 
}

img {
 width: 30%; 
 float: left; 
}

@media (max-width:800px) {
 .column {
   width: 50%; 
 } 
}


a img {
 border: none;
}