

h3 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
  background-color: white;
  width: 1000px;
  margin: 6 auto;
  padding: 1em;
}



body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
  background-color: white;
  width: 1000px;
  margin: 0 auto;
  border: 3px solid gray;
  padding: 1em;
}


/*
.facility-container {
 width: 100%;
 margin: 0 auto;
 text-align: center;
 background-color: #eeeeee;
}
.facility-front, .facility-side {
 display: inline-block;
 width: 45%;
 padding: 2%;
}
.facility-front img, .facility-side img {
 width: 100%;
 height: auto;
}
*/



.slider {

    position: relative;
    font-family: Arial;
}


.text-block { 
  position: absolute;
  bottom: 230px;
  left: 186px;
  background-color: #5C5655;
  color: white;
  padding-left: 20px;
  padding-right: 509px;
}




ul {
  list-style-type: none;
}


img {
 height: 45%;
 width: 60%;
 margin: 0 auto;
 display: flex;
 text-align: center;
 background-color: #eeeeee;
 padding: 5px;


}

p {
  margin: 0;
  padding: 0.1em;
  text-align: left;
}

.container {
  position: relative;
}

.button.play  {
  
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border-width: 27px 0px 27px 40px;
  border-color: transparent transparent transparent #202020;
}

.button.pause {
  box-sizing: border-box;  
  width: 74px;
  height: 60px;
  border-style: double;
  border-width: 0px 0px 0px 37px;
  border-color: #202020;
}



